*{
    background-color: yellow;
}

.signup{
    background-color: white;
}

/* .container{
    width: 700px;
    background-color: white;
} */




.container{
   background-color: rgb(255, 255, 255);
   width:800px;
   height: 350px;
   padding: 50px;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 0px 20px 0px 20px;
}

.fm{
    background-color: white;
}

 .form-control{
    margin-bottom: 20px;
    width: 400px;
    height: 40px;
    background-color: white;
    border-radius: 10px;

    
}

.btn{
    cursor: pointer;
    background-color: yellow;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border-width: 0ch;
    font-size: 20px;
   
}